<h1>TESTE</h1>

{{#if treinandoNode}}
    <p>vdd</p>

{{else}}
<p>tururu</p>
{{/if}}

<table>
  {{#each dados}}
    <tr>
        <td>{{nome}}</td>
        <td>{{idade}}</td>
    </tr>
  {{/each}}
</table>